<div class="about-us">
	<h2 class="about-us-descrip">Who We Are</h2>
	<h4 class="about-us-we">British Linkz is a Jamaican Music/Entertainment YouTube Channel focusing on all the different segments with the Jamaican culture. CEO Romario English founded<a href="https://www.youtube.com/channel/UCCo8z4gIxNVOAOdIYrAJMNw" style="color: ffff00;">British Linkz</a> on the 21st of January, 2015 after an engaging discussion about how Jamaican art was lacking in it’s digital distribution and as a result falling short to the likes of other Caribbean countries as well as other Afrocentric cultures due to a lack of application and opportunity.</h4>
</div>
<div class="about-us">
	<h2 class="about-us-descrip">What We Do</h2>
	<h4 class="about-us-we">British Linkz, was designed to keep the world at large, current with the happenings of Jamaican pop culture; whether dance, music, current affairs etc via the use of social platforms such as; Youtube, Soundcloud, Facebook and with the aid of affiliates such as Dre1allaince Ent. <a href="https://www.facebook.com/pages/British-Linkz/827296257327966?sk=info&tab=page_info&edited=name" style="color: ffff00;">British Linkz</a> offers promotional services, artiste management, and all graphic/image work for companies & sole proprietors.</h4>
</div>




