<form action="/articles/{{id}}" method="POST">
	<input type="hidden" name="_method" value="PUT">

	<label for="name">Title<br>
		<input type="text" name="title" value="{{title}}">
	</label><br>

	<label for="content">New Article's Content<br>
		<textarea name="content" style="width: 120px; height: 90px;">{{content}}</textarea>
	</label><br>

	{{!-- the input below will change the current timestamp to the new time each time an article is updated. --}}
	<input type="hidden" name="date_written" value="now">

	<br>
	<input type="submit" value="Submit" style="position: relative; top: 20px;">
</form>
