<div>
	<form action="/authors" method="POST">
		<input type="text" name="title" placeholder="Title" class="author-new">
		<input type="text" name="username" placeholder="Username" class="author-new">
		<input type="text" name="email" placeholder="Email Address" class="author-new">
		<input type="text" name="password" placeholder="Password" class="author-new">
		<button type="submit" id="author-new-button">Submit</button>
	</form>
</div>