<div>
	<h3>
		<p>{{author.username}}</p>
	</h3>
</div>

{{#each articles}}
	<div>
		<h4><strong>{{title}}</strong></h4>
		<p>{{content}}</p>
		<p>Published on: {{date_written}}</p>
	</div>
{{/each}}

