<h2 style="text-align: center; color: white; position: relative; top: 35px; left: 75px;">Below are all the users who published an article to our site!</h2>
<h4 style="text-align: center; color: white; position: relative; top: 35px; left: 80px;">Click a username to see all the articles that user have written!</h4>

{{#each authors}}
	<div>
		<h3>
			<a href="/authors/{{id}}" id="author-username">{{username}}</a>
		</h3>
	</div>
{{!-- 
<form action="/authors/{{id}}" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<button>
		<strong>DELETE</strong>
	</button>
</form> --}}

{{/each}}

<div class="nav">
	<a href="/authors/new" id="new-author">Add a new author</a>
</div>