<div id="contact-container">
	<h1 class="contact" id="contact-us">Contact Us</h1>
	<h3 class="contact" id="lets-talk">Let Talk and exchange thoughts or ideas</h3>
	<div id="contact-form">
		<form action="/" method="POST">
			<input type="text" name="contact_username" placeholder="Username" class="contact-input" id="inner-inp1">
			<input type="text" name="contact_email" placeholder="Email" class="contact-input" id="inner-inp2">
			<textarea placeholder="write your comment here" id="contact-text" class="contact-input"></textarea>
			<button type="submit" id="contact-button" class="contact-input">Submit</button>
		</form>
	</div>
</div>