<div id="main-create-div">
	<div id="create-title-div">
		<h1 id="create-acct-title">Create A User Account</h1>
		<p id="create-requirements">* indicates required field.</p>
	</div>

	<div id="create-form">
		<form action="/create" method="POST">
			<input type="text" name="first_name" placeholder="First Name" class="create-input">
			<input type="text" name="last_name" placeholder="Last Name" class="create-input">
			<input type="text" name="username" placeholder="Username" class="create-input">
			<input type="text" name="email" placeholder="Email" class="create-input">
			<input type="text" name="age" placeholder="Age" class="create-input">
			<input type="text" name="password" placeholder="Password" class="create-input">
			<input type="text" name="password" placeholder="Confirm Password" class="create-input">
			<button type="submit">Submit</button>
		</form>
	</div>

</div>