<div id="log-page">
	<div id="log-log">
		<h3>Login</h3>
	</div>
	<form action="/login" method="POST" id="login-form">
		Username <input type="text" name="username" placeholder="Username" class="login-input">
		Password <input type="text" name="password" placeholder="Password" class="login-input">
		<a href="/" id="forgot-pword">Forgotten your password?</a>
		<div id="login-button-div">
			<button type="submit" id="login-button">Login</button>
		</div>
	</form>
</div>