body {
	background: black;
}
#british-link-logo {
	width: 1410px;
	height: 490px;
}
#main_title {
	text-align: center;
	font-size: 70px;
	color: 00ff33;
	text-shadow: 8px 3px 2px #330099;
	border: 3px solid white;
}
.about-us {
	color: white;
}
.register {
	float: right;
	margin: 20px;
}
#create_account {
	margin: 15px;
	position: relative;
	top: -73px;
	left: 40px;
}
.nav {
	position: relative;
	left: 100px;
	text-align: center;
	font-size: 30px;
	font-size: 40px;
}
a {
	margin: 10px;
	text-decoration: none;
}
#login {
	position: relative;
	top: -65px;
	left: 25px;
	width: 1px;
	height: 1px;
}
.main_nav {
	color: ffff00;
}
#log-page {
	text-align: center;
	position: relative;
	top: 80px;
	left: 390px;
	width: 700px;
	height: 200px;
	border: 1px solid white;
}
.login-input {
	position: relative;
	left: 255px;
	display: block;
	width: 200px;
	height: 25px;
}
#forgot-pword {
	position: relative;
	top: 25px;
	color: red;
}
#login-button-div {
	text-align: right;
	position: relative;
	top: 48px;
	height: 25px;
	border-top: 1px solid white;
}
#login-button {
	position: relative;
	top: 0px;
	width: 60px;
	font-size: 14px;
	background: green;
	cursor: pointer;
}
#login-form {
	position: relative;
	top: -40px;
	color: white;
}
#create-title-div {
	color: white;
}
#create-form {
	text-align: center;
	padding: 30px;
}
.create-input {
	display: block;
	text-align: center;
	margin: 10px auto;
	font-size: 21px;
}
/*#main-create-div {
	border: 1px solid white;
}*/
#create-button {
	position: relative;
	top: 30px;
	height: 45px;
	width: 80px;
	border-radius: 8px;
	background-color: green;
}
/*#create-button-div {
	border: 1px solid white;
}*/
#form-container {
	border: 2px solid white;
}
