<!DOCTYPE>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">

	<title>British Linkz</title>
</head>
<body>
	<header>
    <a href="/" style="text-decoration: none; color: black;">
      <h1 id="main_title">British Linkz Music Review</h1>
    </a>
  </header>

  <nav class="register">
      <a href="/create" id="create_account"><img src="http://cache4.asset-cache.net/xt/142029667.jpg?v=1&g=fs1%7C0%7CIVR%7C29%7C667&s=1" style="width: 48px; height: 48px; border-radius: 40px; border: solid 1px white"></a>
      <a href="/login" id="login"><img src="http://www.gbcmg.com/assets/104628-3d-glossy-green-orb-icon-symbols-shapes-check-mark8-sc44-150x150.png" style="width: 70px; height: 70px;"></a>
  </nav>

  <nav class="nav">
    <a href="/" class="main_nav">Home</a>
    <a href="/about_us" class="main_nav">About Us</a>
    <a href="/authors" class="main_nav">Users</a>
    <a href="/articles" class="main_nav">Articles</a>
    <a href="/categories" class="main_nav">Categories</a>
    <a href="/contacts" class="main_nav">Contact</a>
  </nav>

  {{{body}}}
    
</body>
</html>