<!DOCTYPE>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">

	<title>Hard Stuff</title>
</head>
<body>
	<header>
    <a href="/" style="text-decoration: none; color: black;">
      <h1>Hard Stuff Corporation</h1>
    </a>
  </header>

  <nav class="register">
      <a href="/create">Create Account</a>
      <a href="/login">Login</a>
  </nav>

  <nav class="nav">
    <a href="/">Home</a>
    <a href="/about_us">About Us</a>
    <a href="/authors">Authors</a>
    <a href="/articles">Articles</a>
    <a href="/categories">Categories</a>
    <a href="/contacts">Contact</a>
  </nav>

  {{{body}}}
    
</body>
</html>